@mixin icons ($height, $width) {
    .icons {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        z-index: 100;

        ul {
            display: flex;
            list-style: none;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $height / 2;
            line-height: $height;
            color: #666;
            z-index: 1;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $height;
            width: $width;
            background-color: #171515;
            border-radius: 50%;
            margin: 5px 15px;
            cursor: pointer;
            position: relative;
            // z-index: 1000;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: #000;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                z-index: -1;
                transform: scale(0.9);
                transition: 0.5s;
                // z-index: 1;
            }

            &:nth-child(1)::before {
                background-color: #000;
                // z-index: -1;
            }

            &:nth-child(1):hover::before {
                filter: blur(4px);
                box-shadow: 0 0 15 #000;
                transform: scale(1.2);
                // transform: scale(2);
                // z-index: 1;
            }
        }
    }
}

@media (min-width: 901px) {
    .footer {
        width: 100%;

        @include icons(80px, 83px);
    }
}

@media (max-width: 900px) {
    .footer {
        @include icons(60px, 63px);
    }
}