.Page_Content {
    display: flex;
    flex-direction: row;
    transition: height 1s ease-in;

    width: 100vw;
    overflow-y: scroll;

    .left {
        background-image: url("../Assets/Death_Trap_bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
        overflow: hidden;

        transition: height 1s ease-in;
        width: 10%;
        background-color: #385300;
    }

    .middle {
        transition: height 1s ease-in;
        width: 80%;
        background: linear-gradient(240deg, beige, 35%, lime);
    }

    .right {
        background-image: url("../Assets/Death_Trap_bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: repeat;
        overflow: hidden;

        transition: height 1s ease-in;
        width: 10%;
        background-color: #385300;
    }

    @media screen and (max-width : 600px) {
        .left {
            display: none;
        }

        .middle {
            width: 100%;
        }

        .right {
            display: none;
        }
    }
}