.Page_Content {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    transition: height 1s ease-in;

    width: 100vw;
    overflow-y: scroll;

    .left {
        // height: 100vh;
        transition: height 1s ease-in;
        width: 25%;
        background-color: aqua;
    }

    .middle {
        transition: height 1s ease-in;
        background-color: lawngreen;
    }

    .right {
        transition: height 1s ease-in;
        width: 25%;
        background-color: burlywood;
    }

    @media screen and (max-width : 600px) {
        .left {
            display: none;
            // width: 0;
        }

        .middle {
            // width: 100vw;
            // width: max-content;
        }

        .right {
            display: none;
            // width: 0;
        }
    }
}