.navbar {
    // padding: 0;
    // flex: 0 1 100%;
    z-index: 2;
    background-color: green;
    position: fixed;
    // width: 643px;
    // width: max-content;
    height: 65px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    position: relative;
    // margin: 0;
    // margin-block: 65px;
    // margin-bottom: 65px;


    .home {
        height: min-content;

        &:hover {
            cursor: pointer;
        }


    }

    .cart {
        // height: min-content;
        position: relative;
        top: 10%;
        left: 80%;
        // transform: translateX(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        // fill: black;
        // color: black;

        &::before {
            z-index: 1;
            content: attr(data-text);
            position: absolute;
            color: green;
            width: 100%;
            bottom: 65%;
            left: 85%;
            overflow: hidden;
            transition: 1s;
            -webkit-text-stroke: 3px green;
        }

        &::after {
            position: absolute;
            z-index: -1;
            content: '';
            height: 50%;
            width: 80%;
            bottom: 55%;
            left: 55%;
            border-radius: 50%;
            background-color: red;
        }

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;

        // centers the ul elements
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        gap: 1em;
        font-size: larger;


        li {
            // margin: 0;
            transition: .5s ease-in;

            &:hover {
                cursor: pointer;
            }

            &:hover,
            &:focus,
            &:active {
                color: aqua;
            }
        }

    }
}

.spacer {
    padding-bottom: 65px;
}