.navbar {
    z-index: 2;
    background-color: #008000;
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;


    .home {
        position: absolute;
        left: 0;
        height: min-content;
        // box-shadow: 5px 5px 5px red;
        filter: drop-shadow(3px 3px 5px #9A14CC);

        &:hover {
            cursor: pointer;
        }
    }

    .cart {
        position: absolute;
        right: 0;
        transform: translate(-60%, 35%);
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(2px 2px 2px #CC2F14);

        &::before {
            z-index: 1;
            content: attr(data-text);
            position: absolute;
            color: green;
            width: 100%;
            bottom: 73%;
            left: 97%;
            overflow: hidden;
            transition: 1s;
            -webkit-text-stroke: 3px green;
            // opacity: 0;
            transform: scale(0)
        }

        &::after {
            position: absolute;
            z-index: -1;
            content: '';
            height: 70%;
            width: 70%;
            bottom: 60%;
            left: 73%;
            border-radius: 50%;
            background-color: red;
            transition: 1s;
            transform: scale(0) // opacity: 0;
        }

        &.items::after,
        &.items::before {
            transform: scale(1) // opacity: 1;
        }

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        display: flex;

        // centers the ul elements
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        gap: 1em;
        font-size: larger;


        li {
            transition: .5s ease-in;

            &:hover {
                cursor: pointer;
            }

            &:hover,
            &:focus,
            &:active {
                color: aqua;
            }
        }

    }
}

.spacer {
    // margin-bottom: 65px;
    padding-bottom: 65px;
}