.container {
  // padding: 0 2rem;
  height: 100%;
  border: 1px solid red;
  position: relative;
  top: 64px;


  .banner {
    display: flex;
    background-color: aqua;
    width: 100%;
    justify-content: end;

    .image {
      // margin-top: 100px;
      display: flex;


      img {
        position: relative;
        // display: flex;
        // left: 25%;
        // justify-content: end;
        // align-items: flex-end;
        max-width: 600px;
        min-width: 200px;
        // object-fit: contain;

        filter: drop-shadow(-5px -5px 5px red);
        // max-width: 500px;

      }
    }
  }
}