.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }

    .grid {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1500px;

        .Iframe_Container {
            transition: border .5s ease-in;
            margin: 1rem;
            padding: 1.5rem;
            text-align: center;
            color: inherit;
            text-decoration: none;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            width: min-content;
            max-width: 650px;

            .more-info {
                transition: height 1s ease-in;
                overflow: hidden;
                margin-block: 16px;

                p {
                    // margin: 0;
                }

                div {
                    font-size: large;

                    span {

                        padding-inline: 10px;
                    }

                    // display: flex;
                    // justify-content: center;
                    // gap: 2em;
                }
            }

            h4 {
                margin: auto;
                padding: 10px 5px;
                font-size: large;
                transition: .5s ease-in;
                position: relative;
                height: max-content;
                width: max-content;

                &:hover {
                    cursor: pointer;
                    color: green;
                }

            }

            h3 {
                height: 40px;
                font-size: large;
            }

            iframe {
                width: 560px;
                height: 315px;
            }
        }

    }



    @media (max-width: 630px) {
        .grid {

            .Iframe_Container {
                max-width: 350px;

                iframe {
                    aspect-ratio: 1/1;
                    // width: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}